PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/scot_sales_db
# If you are using MongoDB Atlas, replace with your connection string:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/scot_sales_db?retryWrites=true&w=majority
